.hero {
    background-image: url("./images/BG.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% 100%; 
    padding: 20px 20px 0px;
    height: 472px;
    margin-bottom: -2px;
}
body {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    min-width: 360px;
    max-width: 430px;
    
}
.header {
    display: flex;
    justify-content: space-between;
    /* position: sticky; */
}
nav a {
  text-decoration: none;
  color: #113a1f;
  /* position: sticky; */
}
nav {
    margin-top: -6px;
    display: flex;
    gap: 20px;
}
.slogan {
    margin-top: 55px;
    margin-bottom: 30px;
    text-align: center;
    padding: 0 18%;
}
#logo img {
    width: 71.7px;
    height: auto;
}
.cover {
        display: flex;
    justify-content: center;
    margin: 20px auto;
}
.cover img {
    height: 196px;
    width: 215px;
}
.tagline {
    display: flex;
    justify-content: center;
}
.tagline img {
    width: 266px;
    height: 50px;
   
}

#about {
  background-image: url('./images/background/Asset\ 19@4x.png');
  height: 380px;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 0 20px;
  margin-top: 0;

}
#about h2 {
    color: #faf9dd;
    letter-spacing: 5px;
    /*justify-self: end;*/
    text-align: right;
    padding-top: 19px;

    margin: 0;
}
#about .p1 {
    color: #faf9dd;
    text-align: right;
    width: 290px;
    justify-self: end;
}
#about .p2 {
    color: #faf9dd;
    width: 320px;
}
#about .about-img {
    display: flex;
    justify-content: center;
}
#about .about-img img {
    width: 40px;
    height: 65px;
    margin-top: 25px;
}
.about-to-gallery {
    width: 100%;
    height: 73.5px;
    background: linear-gradient(to bottom, #143a20, #fff);
    
}
.gallery {
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    gap: 5px;
}
.column {
  width: 50%;
}
.column img {
    width: 100%;
    margin: 0;
    margin-bottom: 1.5px;
    transition: all 0.2s;
}
#gallery-title {
    text-align: center;
    letter-spacing: 5px;
    margin: 0;
    margin-bottom: 20px;
       
}
.gallery-p {
    margin: 0;
    margin-bottom: 30px;
    padding: 0 23%;
    height: 4.5em;
    text-align: center;

}
.gallery > .column1 > img:hover {
    transform: scale(0.95);
    box-shadow: 0 0 2px 2px #143a20;
}
.gallery > .column2 > img:hover {
    transform: scale(0.95);
    box-shadow: 0 0 2px 2px #143a20;
}
#margin-top-30 {
    margin-top: 30px;
}

.breakline img {
    width: 60%;
    display: block;
    margin: 30px auto 45px;
}
.contact {
    background-image: url("./images/background/Asset\ 18@4x.png");
    background-size: 100% 100%;
    height: 410px;
}
#contact-title {
    margin: 0;
    text-align: center;
    color: #143a20;
}
.contact p {
    text-align: center;
    color: #113a1f;
}
.contact a {
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
}
.contact a:hover, .contact a:active, .contact a:visited {
    cursor: pointer;
    color: #143a20;
}
.map {
    display: block;
    justify-self: center;
    padding: 0 auto;
}
.footer {
    padding: 0 20px;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #143a20;
}
#logo2 {
    width: 71px;
    height: 20px;
}
.icon {
    height: 20px;
    width: auto;
}
.icon-space {
    display: flex;
    gap: 1em;
}
